body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-card {
    margin: 1em;
    padding: 0.5em;
    border: 3px solid black;
}

form {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

form > label {
    margin: 1em;
}

#sorting {
    font-size: 1em;
    padding: 8px;
    width: 250px;
}